<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>404 - Freedesktop.org</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
  <link rel="stylesheet" type="text/css" href="static/css/style.css" />
  <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">
</head>
<body class="single offline js-off">
  <div id="_outer-wrap">
    <div id="_content" class="documentation">

        <img style="display: block; margin-left: auto; margin-right: auto; width: 40%; padding-top: 20px;" src="static/images/logo.svg" height="180" alt="Freedesktop Logo" />
      <div>
        <h1 class="title" style="text-align: center;"><span class="name">404 - Page not found</span></h1>
      </div>

      <div xml:lang="en" class="article" id="index" lang="en">
        <p style="text-align: center;">
            The resource that you are attempting to access does not exist.
            Make sure the address is correct and that the page hasn't moved.
        </p>
        <p style="text-align: center;">
            Please file an issue if you think this is a mistake.
        </p>
        <p style="text-align: center; padding-top: 20px;">
          <a href="https://specifications.freedesktop.org/">Back to the specification index.</a>
        </p>
      </div>

    </div>
  </div>

  <div class="page-bottom"></div>
  <div id="_footer-wrap">
    <div id="_footer">
      <p>© 2000-{{current_year}} Freedesktop.org
      </p>
    </div>
  </div>
</body>
</html>
